In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
data=pd.read_excel("visa.xlsx")

In [33]:
data

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016,"ST. LOUIS, MISSOURI",-90.199404,38.627003
...,...,...,...,...,...,...,...,...,...,...,...
20430,20431,CERTIFIED,"KSL MBR MANAGEMENT II, LLC",LODGING MANAGERS,HOTEL FRONT OFFICE MANAGER,N,69493.0,2016,"DANA POINT, CALIFORNIA",NaN,NaN
20431,20432,CERTIFIED-WITHDRAWN,"KINDRED REHAB SERVICES, INC.",MEDICAL AND HEALTH SERVICES MANAGERS,PROGRAM DIRECTOR PHYSICAL THERAPIST,Y,83449.6,2016,"COLUMBUS, INDIANA",-85.921380,39.201440
20432,20433,CERTIFIED-WITHDRAWN,"MEDICAL DYNAMIC SYSTEMS, INC.",MEDICAL AND HEALTH SERVICES MANAGERS,HEALTHCARE QUALITY ASSURANCE MANAGER,Y,80163.2,2016,"STATEN ISLAND, NEW YORK",-74.150201,40.579532
20433,20434,CERTIFIED-WITHDRAWN,BILL & MELINDA GATES FOUNDATION,MEDICAL AND HEALTH SERVICES MANAGERS,"PROGRAM OFFICER, GATES FELLOWS PROGRAM",Y,116563.0,2016,"SEATTLE, WASHINGTON",-122.332071,47.606209
20434,20435,CERTIFIED-WITHDRAWN,THE MICHAEL J. FOX FOUNDATION FOR PARKINSON'S ...,MEDICAL AND HEALTH SERVICES MANAGERS,ASSOCIATE DIRECTOR - CLINICAL RESEARCH PROGRAMS,Y,103584.0,2016,"NEW YORK, NEW YORK",-74.005941,40.712784

In [34]:
data.corr()

                 Unnamed: 0  PREVAILING_WAGE  YEAR       lon       lat
Unnamed: 0         1.000000        -0.000467   NaN  0.006285  0.010740
PREVAILING_WAGE   -0.000467         1.000000   NaN -0.009590  0.002524
YEAR                    NaN              NaN   NaN       NaN       NaN
lon                0.006285        -0.009590   NaN  1.000000 -0.124814
lat                0.010740         0.002524   NaN -0.124814  1.000000

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20435 entries, 0 to 20434
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          20435 non-null  int64
 1   CASE_STATUS         20435 non-null  object
 2   EMPLOYER_NAME       20434 non-null  object
 3   SOC_NAME            20434 non-null  object
 4   JOB_TITLE           20435 non-null  object
 5   FULL_TIME_POSITION  20435 non-null  object
 6   PREVAILING_WAGE     20435 non-null  float64
 7   YEAR                20435 non-null  int64
 8   WORKSITE            20435 non-null  object
 9   lon                 19233 non-null  float64
 10  lat                 19233 non-null  float64
dtypes: float64(3), int64(2), object(6)
memory usage: 1.7+ MB

In [36]:
data.isnull().any()

Unnamed: 0            False
CASE_STATUS           False
EMPLOYER_NAME          True
SOC_NAME               True
JOB_TITLE             False
FULL_TIME_POSITION    False
PREVAILING_WAGE       False
YEAR                  False
WORKSITE              False
lon                    True
lat                    True
dtype: bool

In [37]:
data.describe()

         Unnamed: 0  PREVAILING_WAGE     YEAR           lon           lat
count  20435.000000     2.043500e+04  20435.0  19233.000000  19233.000000
mean   10218.000000     1.559978e+05   2016.0    -94.222524     37.759437
std     5899.220711     3.456781e+06      0.0     25.870814      5.176413
min        1.000000     0.000000e+00   2016.0   -157.858333     13.476282
25%     5109.500000     8.024200e+04   2016.0   -118.416465     34.052234
50%    10218.000000     1.067460e+05   2016.0    -87.940066     38.029306
75%    15326.500000     1.381330e+05   2016.0    -74.922667     40.712784
max    20435.000000     3.291392e+08   2016.0    145.729789     64.837778

In [38]:
data['CASE_STATUS'].unique()

array(['CERTIFIED-WITHDRAWN', 'WITHDRAWN', 'CERTIFIED', 'DENIED'],
      dtype=object)

In [39]:
import warnings
warnings.filterwarnings("ignore")
data.CASE_STATUS[data['CASE_STATUS']=='REJECTED'] = 'DENIED'
data.CASE_STATUS[data['CASE_STATUS']=='INVALIDATED'] = 'DENIED'
data.CASE_STATUS[data['CASE_STATUS']=='PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED'] = 'DENIED'
data.CASE_STATUS[data['CASE_STATUS']=='CERTIFIED-WITHDRAWN'] = 'CERTIFIED'

In [40]:
data = data.drop('lat', axis = 1)
data = data.drop('lon', axis = 1)

In [41]:
data.isnull().any()

Unnamed: 0            False
CASE_STATUS           False
EMPLOYER_NAME          True
SOC_NAME               True
JOB_TITLE             False
FULL_TIME_POSITION    False
PREVAILING_WAGE       False
YEAR                  False
WORKSITE              False
dtype: bool

In [44]:
data['EMPLOYER_NAME'] = data['EMPLOYER_NAME'].fillna(data['EMPLOYER_NAME'].mode()[0])
data['SOC_NAME'] = data['SOC_NAME'].fillna(data['SOC_NAME'].mode()[0])

In [45]:
data.isnull().any()

Unnamed: 0            False
CASE_STATUS           False
EMPLOYER_NAME         False
SOC_NAME              False
JOB_TITLE             False
FULL_TIME_POSITION    False
PREVAILING_WAGE       False
YEAR                  False
WORKSITE              False
dtype: bool

In [46]:
data

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE
0,1,CERTIFIED,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016,"ANN ARBOR, MICHIGAN"
1,2,CERTIFIED,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016,"PLANO, TEXAS"
2,3,CERTIFIED,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016,"JERSEY CITY, NEW JERSEY"
3,4,CERTIFIED,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016,"DENVER, COLORADO"
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016,"ST. LOUIS, MISSOURI"
...,...,...,...,...,...,...,...,...,...
20430,20431,CERTIFIED,"KSL MBR MANAGEMENT II, LLC",LODGING MANAGERS,HOTEL FRONT OFFICE MANAGER,N,69493.0,2016,"DANA POINT, CALIFORNIA"
20431,20432,CERTIFIED,"KINDRED REHAB SERVICES, INC.",MEDICAL AND HEALTH SERVICES MANAGERS,PROGRAM DIRECTOR PHYSICAL THERAPIST,Y,83449.6,2016,"COLUMBUS, INDIANA"
20432,20433,CERTIFIED,"MEDICAL DYNAMIC SYSTEMS, INC.",MEDICAL AND HEALTH SERVICES MANAGERS,HEALTHCARE QUALITY ASSURANCE MANAGER,Y,80163.2,2016,"STATEN ISLAND, NEW YORK"
20433,20434,CERTIFIED,BILL & MELINDA GATES FOUNDATION,MEDICAL AND HEALTH SERVICES MANAGERS,"PROGRAM OFFICER, GATES FELLOWS PROGRAM",Y,116563.0,2016,"SEATTLE, WASHINGTON"
20434,20435,CERTIFIED,THE MICHAEL J. FOX FOUNDATION FOR PARKINSON'S ...,MEDICAL AND HEALTH SERVICES MANAGERS,ASSOCIATE DIRECTOR - CLINICAL RESEARCH PROGRAMS,Y,103584.0,2016,"NEW YORK, NEW YORK"